.App {
  flex-grow: 1;
  height: 100vh;
  background-color: #191F26;

  .FilterWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #2C3540;
    
    .Wrapper {
      width: 600px;
      display: flex;
      justify-content: center;

      .InputWrapper {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background-color: #C1D0D9;

        .SearchIconWrapper {
          padding-left: 10px;

          .SearchIcon {
            color: #2C3540;
          }
        }
      }
    }
  }

  .ProductsWrapper {
    display: flex;
    justify-content: center;

    .Content {
      flex-direction: column;

      .PaginationWrapper {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        .ButtonDisabled {
          color: #C1D0D9;
        }

        .Icons {
          color: #7EF2A7;
        }

        .Pagination {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0;
          list-style: none;
        }
      }
    }
    

  }
  
}